boto3==1.43.46
python-dotenv==1.2.2

pymupdf==1.28.0
pdfplumber==0.11.10
python-docx==1.2.0
openpyxl==3.1.5
beautifulsoup4==4.15.0
markdown==3.10.2
pandas==3.0.3
pytesseract==0.3.13
pillow==12.3.0

sentence-transformers==5.6.0
qdrant-client==1.18.0
rank-bm25==0.2.2

groq==1.5.0
openai==2.45.0

sqlalchemy==2.0.51
psycopg2-binary==2.9.12
alembic==1.18.5

python-jose[cryptography]==3.5.0
python-multipart==0.0.32

fastapi==0.139.0
uvicorn==0.51.0

redis==8.0.1